<!doctype html>
<title>Unsubscribe Me</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<body>
  <div id="content" class="container"></div>
</body>

{% if config['DEBUG'] %}
  <script src="http://localhost:8080/static/bundle.js"></script>
{% else %}
<script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
{% endif %}
